@model IEnumerable<MySigRChat.Models.Message>
@{
    ViewData["Title"] = "Chat Room";
    var username = User.Identity.Name;
}


<div class="jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Chat Room</h2>
    </div>

    <div class="col-md-12">
        <ul class="px-0" id="messageList">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.Timestamp))
                {
                    string className = "list-group-item rounded my-1 py-0 px-3";
                    if (username == message.Username)
                    {
                        className += " bg-primary text-right";
                    }
                    else
                    {
                        className += " bg-light";
                    }

                    <li class="@className">
                        <span class="font-italic">@message.Timestamp.ToString("M/dd/yyyy, h:mm:ss tt")</span>
                        <span class="font-weight-bold">@message.Username</span>
                        <p>@message.Text</p>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="col-md-12">
        <form asp-action="Create"
              data-ajax-begin="saveMessageClearInputField" data-ajax-complete=""
              data-ajax-failure="alert('Fail')" data-ajax-success="sendMessageWrapper"
              data-ajax="true" data-ajax-method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="Text" class="form-control" id="inputMessage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
            </div>
            <input type="hidden" value="@username" name="username" />
        </form>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <script>
        const usernameFromView = "@ViewBag.CurrentUsername";
    </script>
}

@section scripts {
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}